*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #595959, #e65c00);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-family: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: #ffe6b3;
}

.calculator-grid > button:hover {
    background-color: #ffcc66;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output  .previous-operand {
    color: gray;
    font-size: 1.5rem;
}

.output  .current-operand {
    color: black;
    font-size: 2.5rem;
}